@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Html.Sitecore().Field("title", new { DisableWebEdit = true })</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <!--[/Greeting-->
    @Html.Sitecore().Placeholder("main")
    <!--[/Greeting]-->
</body>
</html>