@model Sitecore.Education.Templates.Models.News

<div class="jumbotron">
    <h1 id="title" class="display-4">@Model.Title</h1>
    <img src="@Model.Url" class="img-rounded img-responsive img-thumbnail" style="max-width:300px;max-height:300px;" id="iod">
    <p id="explanation" class="lead">@Model.Explanation</p>
</div>